<footer>
    <ul id='footer_ul'>
        <li class='footer_li'><a class='footer_links' href='/'>&copy; Charlotte Meetups</a></li>
        <li class='footer_li'><a class='footer_links' href='/about'>About</a></li>
        <li class='footer_li'><a class='footer_links' href='/contact'>Contact</a></li>
    </ul>
</footer>
</body>
</html>