<%- include('./partials/header.ejs') %>
<nav>
    <div class='container'>
            <div id='home_text'>
                <h1 id='home_heading'>About</h1>
                <p id="about_para"><br>Charlotte Meetups was created by a fellow UNCC student, Ben McDonald.
                    <br>The web application was developed for students to create, post, and edit connections for events.
                    <br> Come give it a try!</p>
            </div>
    </div>
</nav>
<%- include('./partials/footer.ejs') %>
