<%- include('./partials/header.ejs') %>
<nav>
    <div class='container'>
            <div id='home_text'>
                <h1 id='home_heading'>Contact</h1>
                <p id="about_para"><br>Ben McDonald
                    <br>Phone: (123)-456-7890
                    <br> Email: bmcdon21@uncc.edu</p>
            </div>
    </div>
</nav>
<%- include('./partials/footer.ejs') %>