<%- include('./partials/header.ejs') %>
<nav>
    <div class='container'>
            <div id='home_text'>
                <h1 id='home_heading'>Welcome to Charlotte Meetups</h1>
                <p id='home_para'> &nbsp; &nbsp; &nbsp; &nbsp; Explore and create events 
                    for you and your peers to attend. Whether you are looking for 
                    some help in a class, trying to connect with new people 
                    to play games with or are just trying to make new friends Charlotte Meetups is the place for you!
                    <br> <br>Check out the Connections section to browse available connections.</p>
            </div>
    </div>
</nav>
<%- include('./partials/footer.ejs') %>
