<%- include('../partials/header.ejs')%>
    <nav>
        <div class='container'>
            <form action='/users' method='POST'>
                <table class='center'>
                    <tr class='form_row'>
                        <td class="form_col"><label for="firstName">First Name</label></td>
                        <td class="form_col"><input type="text" id="firstName" name="firstName" class="fixed-width" required></td>
                    </tr>
                    <tr class='form_row'>
                        <td class="form_col"><label for="lastName">Last Name</label></td>
                        <td class="form_col"><input type="text" id="lastName" name="lastName" class="fixed-width" required></td>
                    </tr>
                    <tr class='form_row'>
                        <td class="form_col"><label for="email">Email Address</label></td>
                        <td class="form_col"><input type="email" id="email" name="email" class="fixed-width" required></td>
                    </tr>
                    <tr class='form_row'>
                        <td class="form_col"><label for="password">Password</label></td>
                        <td class="form_col"><input type="password" id="password" name="password" class="fixed-width" minlength="8"
                                maxlength="64" required></td>
                    </tr>
                    <tr class='form_row'>
                        <td colspan="2" class="align-right form_col"><button class="form_btn">Sign Up</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </nav>
    <%- include('../partials/footer.ejs')%>